.event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.input {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.name {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 500;
}
.city {
  font-size: 16px;
  margin-top: 1px;
}
.date {
  font-size: 19px;
  margin-right: 1rem;
}
