<form class="container" [formGroup]="forgotPasswordForm">
  <img src="../../../assets/devil.svg" />
  <h1 class="title">Reset password</h1>
  <div class="input-label">
    <label for="password">New password</label>
    <input
      class="text-input"
      id="password"
      type="password"
      formControlName="password"
      [ngClass]="{ 'wrong-input-value': wrongPassword }"
    />
  </div>
  <div class="input-label">
    <label for="confirm-password">Confirm password</label>
    <input
      class="text-input"
      id="confirm-password"
      type="password"
      formControlName="passwordConfirm"
      [ngClass]="{ 'wrong-input-value': wrongPassword }"
    />
  </div>
  <button *ngIf="!sent" class="btn" (click)="saveNewPassword()">Save</button>
  <p *ngIf="sent">Your password has been changed!</p>
</form>
