.party-text {
  font-size: larger;
}

.present {
  padding: 20px;
}

.number-input {
  margin-bottom: 20px;
}

.btn {
  position: fixed;
  bottom: 100px;
}

.selected {
  font-size: 20px;
  position: fixed;
  bottom: 100px;
  text-align: center;
}
