<form class="container" [formGroup]="promoCodeForm">
  <div class="present"></div>
  <p class="party-text">Your party code</p>
  <input
    class="number-input"
    type="text"
    formControlName="promoCode"
    [ngModel]="promoCode"
    [ngClass]="{
      'wrong-input-value':
        promoCodeForm.get('promoCode')!.invalid &&
        promoCodeForm.get('promoCode')!.touched
    }"
  />
  <p class="input-not-valid-text" *ngIf="">
    Party Code should be 5-9 characters long
  </p>
  <button *ngIf="!promoCode" class="btn" (click)="generatePromoCode()">
    Generate code
  </button>
  <button *ngIf="promoCode" class="btn" (click)="editPromoCode()">
    Edit code
  </button>
</form>
