.card-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
}
#card-number-element,
#card-expiry-element,
#card-cvc-element {
  background-color: transparent;
  border-radius: 1rem;
  outline: none;
  border: solid 1px rgba(255, 255, 255, 1);
  color: white;
  padding: 10px 1rem;
}

#card-number-element {
  box-sizing: border-box;
  width: 18.75rem;
}

#card-expiry-element {
  width: 4rem;
}

#card-cvc-element {
  width: 2.5rem;
}

.card-row {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  margin-bottom: 4rem;
}
