.footer {
  width: 100vw;
  height: 70px;
  background: black;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-write {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.a-write {
  color: #ff0000;
  font-size: 18px;
}

.footer-filler {
  height: 70px;
}
