<div class="navbar">
  <button class="navbar-btn" (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../assets/logo/logo.svg" class="logo" />
</div>
<div class="menu" [ngClass]="{ 'menu-extended': navbarExtend }">
  <div class="menu-filler"></div>
  <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  <ng-template #notLoggedInContent> </ng-template>
  <a *ngIf="!isLoggedIn" (click)="navigateToLogin()">Login</a>
  <a *ngIf="!isLoggedIn" (click)="navigateToRegister()">Register</a>
  <a (click)="navigateToPartyCode()">Party Code</a>
</div>
<div class="navbar-filler"></div>
