<form class="container" [formGroup]="registerForm">
  <h1 class="title">Sign up</h1>
  <div class="input-label">
    <label for="email">Email</label>
    <input class="text-input" id="email" type="email" formControlName="email" />
  </div>
  <div class="input-label">
    <label for="fullName">Full Name</label>
    <input
      class="text-input"
      id="fullName"
      type="text"
      formControlName="fullName"
    />
  </div>
  <div class="small-input-label">
    <label for="age">Age</label>
    <input class="number-input" id="age" type="number" formControlName="age" />
  </div>
  <div class="input-label">
    <label for="password">Password</label>
    <input
      class="text-input"
      id="password"
      type="password"
      formControlName="password"
    />
  </div>
  <div class="input-label">
    <label for="confirmPassword">Confirm Password</label>
    <input
      class="text-input"
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
    />
  </div>
  <button class="btn" (click)="register()">Register</button>
  <div>
    <p>You don't have an account?</p>
    <a class="link" (click)="navigateToLogin()">Sign in</a>
  </div>
</form>
