h1 {
  color: white;
  /* margin-bottom: 5rem; */
}
h2 {
  text-align: center;
  color: red;
}

.fewTicketsMargin {
  margin-bottom: 5rem;
}

.btn {
  margin-right: 0;
}

.total > p {
  color: red;
  font-size: 20px;
  font-weight: 500;
}

.discount-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-icon {
  color: white;
  margin-left: 10px;
}
.discount-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
}
.icons {
  display: flex;
  flex-direction: row;
  width: 8rem;
  justify-content: space-between;
}
