<div class="container">
  <h1>Event Details</h1>
  <div class="data-list">
    <div class="data-list-row">
      <p>Name:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Location:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Date:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Tickets sold:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Money earned:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Generated invites:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Ticket-based attendees:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Invitation-based attendees:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Price/ticket:</p>
      <p></p>
    </div>
    <div class="data-list-row">
      <p>Discount:</p>
      <p></p>
    </div>
  </div>
</div>
