<div class="promo-container">
  <div class="arrowAlign">
    <div class="step-left">
      <p class="step">Step 1</p>
      <p class="subtitle">Generate a party code</p>
      <p class="promo-text">
        You recive a code to share with <br />
        your friends.
      </p>
    </div>
    <img class="ArrowCorner" src="../../../assets/ArrowCorner.svg" />
  </div>
  <div class="secondArrow">
    <img class="ArrowCornerRight" src="../../../assets/ArrowCornerRight.svg" />
    <div class="step-right">
      <p class="step">Step 2</p>
      <p class="subtitle">
        Share the code with <br />
        your fiends
      </p>
      <p class="promo-text">
        If anyone is using your code <br />
        they will receive a discount <br />off their next order
      </p>
    </div>
  </div>

  <div class="step-left">
    <p class="step">Step 3</p>
    <p class="subtitle">Enjoy the discount</p>
    <p class="promo-text">
      You will receive a discount for every <br />
      order that was placed using your <br />
      code. The discount will add until you <br />
      reach 100% off. This will only apply for <br />
      one ticket.
    </p>
  </div>
  <div class="buton">
    <button class="btn" (click)="navigateToPromocode()">Generate code</button>
  </div>
</div>
