.title {
  font-size: 24px;
}

.profile-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 500;
  width: 21.438rem;
  height: 2rem;
}
.data {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 400;
}
.party-data {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 500;
}
.data-container {
  height: 102px;
  margin-bottom: 60px;
}
.edit {
  color: white;
  margin-bottom: 80px;
}
.discount-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-icon {
  color: white;
  margin-left: 10px;
}
.discount-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.icons {
  display: flex;
  flex-direction: row;
  width: 8rem;
  justify-content: space-between;
}
